pkgbase = lumovi-bin
	pkgdesc = Calm, fast Kubernetes dashboard, on your desktop or in your cluster
	pkgver = 1.7.0
	pkgrel = 1
	url = https://lumovi.dev
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	depends = alsa-lib
	depends = at-spi2-core
	depends = gtk3
	depends = libnotify
	depends = libsecret
	depends = libxss
	depends = libxtst
	depends = nss
	depends = util-linux-libs
	depends = xdg-utils
	optdepends = kubectl: terminals with kubectl pointed at the cluster you are looking at
	optdepends = helm: Helm charts on this computer
	optdepends = libappindicator-gtk3: the icon in the system tray
	provides = lumovi
	conflicts = lumovi
	options = !strip
	options = !debug
	source_x86_64 = https://github.com/Lumovi/Lumovi/releases/download/v1.7.0/Lumovi-1.7.0-linux-amd64.deb
	sha256sums_x86_64 = 86da36471aaf3ac311a6ca060fc57a470a6b2cafcec58bdf1023c423cdeb44f0
	source_aarch64 = https://github.com/Lumovi/Lumovi/releases/download/v1.7.0/Lumovi-1.7.0-linux-arm64.deb
	sha256sums_aarch64 = 53adbae80b568ad109e7892e2b601082b62187ffa3c3c54c9022d1c9b060f7d1

pkgname = lumovi-bin
